# POSTGRESQL DATABASE

# App Database Host access port
APP_DB_PORT_HOST=5432
# Sandbox Database Host access port
SB_DB_PORT_HOST=5433

# Databases
APP_DB=flexbox
SANDBOX_DB=flexbox_sandbox

# App superuser
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# Database migration role
DB_MIGRATION_ROLE=flexbox_migration
MIGRATION_DB_PASSWORD=change_me

# Database application role
DB_APP_ROLE=flexbox_app
DB_APP_PASSWORD=change_me

# Sandbox superuser
POSTGRES_SANDBOX=postgres_sandbox
SANDBOX_PASSWORD=change_me